
@font-face {
	font-family: 'organicfoodicons';
	src:url('../fonts/organicfoodicons/organicfoodicons.eot?56tr8g');
	src:url('../fonts/organicfoodicons/organicfoodicons.eot?56tr8g#iefix') format('embedded-opentype'),
		url('../fonts/organicfoodicons/organicfoodicons.woff2?56tr8g') format('woff2'),
		url('../fonts/organicfoodicons/organicfoodicons.ttf?56tr8g') format('truetype'),
		url('../fonts/organicfoodicons/organicfoodicons.woff?56tr8g') format('woff'),
		url('../fonts/organicfoodicons/organicfoodicons.svg?56tr8g#organicfoodicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.foodicon {
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.foodicon--jam::before {
	content: "\f1c8";
}
.foodicon--radish::before {
	content: "\f1c8";
}
.foodicon--carrot::before {
	content: "\f1c8";
}
.foodicon--coconut::before {
	content: "\f1c8";
}
.foodicon--corn::before {
	content: "\f1c8";
}
.foodicon--cucumber::before {
	content: "\f1c8";
}
.foodicon--eggplant::before {
	content: "\f1c8";
}
.foodicon--ekobag::before {
	content: "\f1c8";
}
.foodicon--grain::before {
	content: "\f1c8";
}
.foodicon--grape::before {
	content: "\f1c8";
}
.foodicon--leaf::before {
	content: "\f1c8";
}
.foodicon--lemon::before {
	content: "\f1c8";
}
.foodicon--lettuce::before {
	content: "\f1c8";
}
.foodicon--mylk::before {
	content: "\f1c8";
}
.foodicon--mushrooms::before {
	content: "\f1c8";
}
.foodicon--onion::before {
	content: "\f1c8";
}
.foodicon--pear::before {
	content: "\f1c8";
}
.foodicon--pepper::before {
	content: "\f1c8";
}
.foodicon--smoothie::before {
	content: "\f1c8";
}
.foodicon--squeezer::before {
	content: "\f1c8";
}
.foodicon--tomato::before {
	content: "\f1c8";
}
.foodicon--watermelon::before {
	content: "\f1c8";
}
.foodicon--apple::before {
	content: "\f1c8";
}
.foodicon--banana::before {
	content: "\f1c8";
}
.foodicon--basket::before {
	content: "\f1c8";
}
.foodicon--blender::before {
	content: "\f1c8";
}
.foodicon--bread::before {
	content: "\f1c8";
}
.foodicon--broccoli::before {
	/*background-image: url("../img/movie01.png");*/
}
.foodicon--broccoli {
	background-image: url("../img/movie01.png");
	    width: 100%;
    height: 100%;
}
.foodicon--broccoli-2 {
	background-image: url("../img/movie02.png");
	    width: 100%;
    height: 100%;
}
.foodicon--broccoli-3 {
	background-image: url("../img/movie03.png");
	    width: 100%;
    height: 100%;
}
.foodicon--broccoli-4 {
	background-image: url("../img/movie04.png");
	    width: 100%;
    height: 100%;
}